<div class="desarrollador-frontend-section" data-aos="zoom-in">
  <a href="#education-alura"><button class="back-button"><i class="bi bi-arrow-left-square"></i></button></a>
  <div class="desarrollador-frontend-content">
    <h1>Desarrollador Frontend</h1>
    <h2>Alura Latam</h2>
    <p>
      Como Desarrollador Frontend, me especializo en crear la interfaz de usuario de aplicaciones web. Mis habilidades
      incluyen el uso avanzado de tecnologías frontend para proporcionar experiencias de usuario intuitivas y
      atractivas.
    </p>
    <div class="skills-section">
      <div class="skills-column">
        <h3>HTML</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/html.png" alt="HTML"> <span>HTML5</span></li>
          <li><img src="../../../assets/icons/skills/semantica.png" alt="HTML"> <span>Semántica</span></li>
          <li><img src="../../../assets/icons/skills/estructura-html.png" alt="HTML"> <span>Estructura</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>CSS</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/css.png" alt="CSS"> <span>CSS3</span></li>
          <li><img src="../../../assets/icons/skills/flexbox.png" alt="CSS"> <span>Flexbox</span></li>
          <li><img src="../../../assets/icons/skills/grid.png" alt="CSS"> <span>Grid</span></li>
          <li><img src="../../../assets/icons/skills/layout-responsive.png" alt="CSS"> <span>Layouts</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>JavaScript</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/es6+.png" alt="JavaScript"> <span>ES6+</span></li>
          <li><img src="../../../assets/icons/skills/dom.png" alt="JavaScript"> <span>DOM Manipulation</span></li>
          <li><img src="../../../assets/icons/skills/javascript.png" alt="JavaScript"> <span>Event Handling</span></li>
          <li><img src="../../../assets/icons/skills/javascript-form.png" alt="JavaScript"> <span>Formularios</span>
          </li>
          <li><img src="../../../assets/icons/skills/javascript-asincrono.png" alt="JavaScript"> <span>JS
              Asíncrono</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>Frameworks</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/react.png" alt="React"> <span>React.js</span></li>
          <li><img src="../../../assets/icons/skills/react.png" alt="React"> <span>React Router</span></li>
          <li><img src="../../../assets/icons/skills/react.png" alt="React"> <span>Hooks</span></li>
          <li><img src="../../../assets/icons/skills/react.png" alt="React"> <span>Components</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>