<section id="experience">
  <div class="row">
    <div class="div1">
      <h2>Experiencia</h2>
      <div id="education">
        <div class="education-block"><a href="https://contenidos-qa.siglo21.xyz/grado-pregrado/#academic"
            target="_blank">
            <h3>Universidad Empresarial Siglo 21</h3>
            <span class="education-date">junio 2022 - 2023</span>
          </a>
          <p>
            Docente contenidista: Construcción de contenido multimedial de grado |
            Construcción de teleclases prácticas | Construcción de trabajos
            prácticos.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>