<div class="row">
<div class="div1">
    <h2>Experience</h2>
    <div id="education">
        
        <div class="education-block">
            <h3>Universidad Empresarial Siglo 21</h3>
            <span class="education-date">junio 2022 - 2023</span>
            <p>Docente contenidista: Construcción de contenido multimedial de grado
            | Construcción de teleclases prácticas
            | Construcción de trabajos prácticos.
            </p>
           
        </div>
        <!-- End .education-block -->

        
      
    </div>
</div>
</div>