<div class="row">
<div class="div1">
    <div id="education">
        
        <div class="education-block">
            <h3>Escuela N°4-124 Reynaldo Merin</h3>
            <span class="education-date">Marzo 2012 - Diciembre 2017</span>
            <h4>Técnico electricista especializado en automatización y mantenimiento industrial</h4>
           
        </div>
        <!-- End .education-block -->

        <div class="education-block">

            <h3>Universidad Siglo 21</h3>
            <span class="education-date">Sept 2019 - Sept 2021</span>
            <h4>Técnico en investigación de la escena del crimen</h4>
            

        </div>
      
    </div>
</div>
</div>