





button {
  margin-right: 5px;

}

.imagenes {
  width: 15%;
}

.imagenes1 {
  width: 20%;
}

.imagenes3 {
  width: 10%;
}


#education {
  padding: 20px 15px 20px 15px;

  text-align: center;

}



.education-block {
  background-color: rgb(255, 255, 255);
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #000000;
  text-align: left;
  box-shadow: 10px 10px 30px rgb(0, 0, 0);
  border-radius: 14px;
  transition: 0.5s;
  object-fit: cover;
  cursor: pointer;

}

.education-block:hover{
  transform: scale(1.2)
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #000000;
  margin-bottom: 10px;
}

.education-block span {
  color: #0b0c0c;
  float: right
}

.education-block p {
  color: #323333;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;

}

.education-block p,
.education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}




