<section>
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="../../../assets/contacto.jfif" alt="">
      </div>
    </div>
    <div class="icon arrow">
      <a routerLink="/home"><i class="bi bi-arrow-left"></i></a>
    </div>

    <div class="name">Joaquín Viñolo</div>
    <div class="about">Desarrollador Web Full Stack</div>
    <div class="social-icons">
      <a href="mailto:joaquin9811gmail.com?subject=Oportunidad%20laboral" class="fb"><i class="bi bi-envelope"></i></a>
      <a href="https://wa.me/542604403098?text=Hola,%20deseo%20conocer%20m%C3%A1s%20sobre%20sus%20servicios%20"
        class="insta"><i class="bi bi-whatsapp"></i></a>

    </div>


  </div>
</section>