#banner {
    background-image: url('src/assets/images/banner/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;
}


.banner-content {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s;
    position: relative;
}

.banner-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 700;
    animation: fadeIn 2s ease-in-out;
}

.banner-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 500;
    animation: fadeIn 2s ease-in-out;
}

.highlight-full {
    color: #c71414; 
    font-weight: 800;
}

.highlight-stack {
    color: #007bff; 
    font-weight: 800;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s;
}



.banner-content:hover .banner-description {
    opacity: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Responsivo */
@media (max-width: 768px) {
    #banner {
        padding: 50px 20px;
    }

    .banner-title {
        font-size: 2.5em;
    }

    .banner-subtitle {
        font-size: 1.5em;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .banner-description {
        font-size: 0.9em;
    }


}

@media (max-width: 480px) {
    #banner {
        padding: 30px 20px;
    }

    .banner-title {
        font-size: 2em;
    }

    .banner-subtitle {
        font-size: 1.2em;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .banner-description {
        font-size: 0.8em;
    }


}