<section id="banner">
    <div class="banner-content">
        <h1 class="banner-title">Joaquín Viñolo</h1>
        <h2 class="banner-subtitle"><span class="highlight-full">Full</span> <span class="highlight-stack">Stack</span> Developer</h2>
        <img src="../../../assets/images/about-me/foto.png" class="profile-pic" alt="Perfil">
        <p class="banner-description">Hola! Gracias por tomarte el tiempo de leerme. Soy Joaquín, un Desarrollador que
            se encuentra en constante aprendizaje. Te invito a que conozcas mis habilidades en este portfolio!</p>
           
    </div>
</section>