<section id="about-me">
    <div class="about-me-content">
        <h2 class="about-me-title">Acerca de mí</h2>
        <p class="about-me-description">
            ¡Hola! 👋 Soy Joaquín Viñolo, un apasionado desarrollador de 25 años. Disfruto aprendiendo y perfeccionando
            mis habilidades en programación.

        </p>
        <p class="about-me-description">
            <strong>Mis conocimientos</strong><br>
            🚀 <strong>Desarrollo Full Stack:</strong> Me inicié en la lógica de programación y me especialicé en
            desarrollo web. Completé un curso de Desarrollo Web Full Stack y un curso específico de desarrollo frontend.
        </p>
        <p class="about-me-description">
        <strong>💻 Proyectos y Experiencia:</strong><br>
         He trabajado en aplicaciones backend utilizando Java y Spring Boot,
            creado interfaces de usuario con Angular y gestionado bases de datos con MySQL. Estos proyectos me han
            permitido desarrollar soluciones completas y funcionales, abarcando desde el diseño de la interfaz hasta
            la administración del backend.
        </p>


        <p class="about-me-description">
            Estoy buscando oportunidades laborales y colaboraciones en proyectos interesantes. Si compartes intereses o
            tienes una oportunidad adecuada para mi perfil, ¡me encantaría conectar contigo!
        </p>
        <a href="ruta/a/tu/cv.pdf" class="download-cv-button" download>Descargar CV</a>
    </div>
</section>