<!-- footer.component.html -->
<footer class="footer-section">
    <div class="container">
      <p>&copy; 2024 Joaquín Viñolo. Todos los derechos reservados.</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/joaquin-vinolo98/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/joaquin9830" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a href="mailto:joaquin9811@gmail.com" target="_blank">
          <i class="bi bi-envelope"></i>
        </a>
        <a href="https://www.instagram.com/joaquin_vinolo/?hl=es-la" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </footer>