/* footer.component.css */

.footer-section {
    background-color: #050505d5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #007bff;
  }
  