<!-- footer.component.html -->
<footer class="footer-section">
    <div class="container">
      <p>&copy; 2024 Joaquín Viñolo. Todos los derechos reservados.</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/tu-usuario" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/tu-usuario" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a href="mailto:tu-email@example.com" target="_blank">
          <i class="bi bi-envelope"></i>
        </a>
        <a href="https://www.instagram.com/tu-usuario" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </footer>