/* Cambiar el color de la navbar */
.navbar {
    background: #244e9b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c517c, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Efecto hover para los links */
.nav-link {
    color: #ffffff;
    /* Color de los links */
    font-weight: 600;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #bbbbc0;
}

/* Efecto hover para los íconos */
.sm-icons .nav-link {
    color: #ffffff;
    /* Color de los íconos */
    transition: color 0.3s;
}

.sm-icons .nav-link:hover {
    color: #c7c9ce;
}


/* Tamaño de los íconos de Bootstrap */
.sm-icons .bi {
    font-size: 1.5em;
}

/* Tamaño del logo */
.logo-brand {
    width: 50px;
}