<section id="proyects" class="row">
  
    <h2>Proyectos</h2>
    <div class="container">

      <div class="card">
        <div class="img">
          <img src="../../../assets/Pro3" alt="Proyecto Generador de contraseñas" />
        </div>
        <div class="top-text">
          <div class="name">Generador de contraseñas</div>
          <p>2022</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            Aplicación web basada en un proyecto JavaScript básico.
            Tecnologías utilzadas: HTML | CSS | JavaScript.
            Genera contraseñas aleatorias.
          </div>
          <div class="btn">
            <a href="https://github.com/joaquin9830/ProyectoJSPasswordGenerator" target="_blank">Saber más</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img">
          <img src="../../../assets/Pro1.png" alt="Proyecto web full stack" />
        </div>
        <div class="top-text">
          <div class="name">Aplicación web full stack</div>
          <p>2022</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            Single-page application. Tecnologías utilizadas: HTML | CSS | JavaScript | TypeScript | Angular | MySQL |
            Spring Boot | Java| Bootstrap
          </div>
          <div class="btn">
            <a href="https://frontendvj.web.app/" target="_blank">Saber más</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img">
          <img src="../../../assets/Pro2.png" alt="proyecto E-commerce" />
        </div>
        <div class="top-text">
          <div class="name">E-commerce</div>
          <p>2023</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            FrontEnd de pagína web construido con Framework Angular.
            Tecnologías utilizadas: Angular | HTML | CSS | JavaScript | TypeScript | Bootstrap
          </div>
          <div class="btn">
            <a href="https://github.com/joaquin9830/SitioWebAlimentoDeGato" target="_blank">Saber más</a>
          </div>
        </div>
      </div>
    </div>
    
  
</section>