<!-- education-crimi.component.html -->
<div class="education-crimi-section">
    <button class="back-button" (click)="goBack()">Volver al inicio</button>
    <div class="education-content">
      <h1>Técnico en Investigación de la escena del crimen</h1>
      <h2>Universidad XYZ</h2>
      <p>
        El Técnico en Investigación de la escena del crimen es responsable de
        analizar y recoger evidencias en el lugar de los hechos. Su labor es
        crucial para la resolución de casos criminales, trabajando en estrecha
        colaboración con las fuerzas del orden y otras entidades forenses.
      </p>
      <div class="skills-section">
        <h3>Conocimientos</h3>
        <div class="skills-container">
          <div class="skill-box">
            <img src="ruta/a/imagen-balistica.jpg" alt="Balística">
            <p>Balística</p>
          </div>
          <div class="skill-box">
            <img src="ruta/a/imagen-accidentologia.jpg" alt="Accidentología">
            <p>Accidentología</p>
          </div>
          <div class="skill-box">
            <img src="ruta/a/imagen-coordinacion.jpg" alt="Coordinación de escena del crimen">
            <p>Coordinación de escena del crimen</p>
          </div>
          <div class="skill-box">
            <img src="ruta/a/imagen-psicologia.jpg" alt="Psicología forense">
            <p>Psicología forense</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  