<!-- education-crimi.component.html -->
<div class="education-crimi-section">
  <button class="back-button" (click)="goBack()"><i class="bi bi-arrow-left-square"></i></button>
  <div class="education-content">
    <h1>Técnico en Investigación de la escena del crimen</h1>
    <h2>Universidad Empresarial Siglo 21</h2>
    <p>
      El Técnico en Investigación de la escena del crimen es responsable de
      analizar y recoger evidencias en el lugar de los hechos. Su labor es
      crucial para la resolución de casos criminales, trabajando en estrecha
      colaboración con las fuerzas del orden y otras entidades forenses.
    </p>
    <div class="skills-section">
      <h3>Conocimientos</h3>
      <ul class="skills-list">
        <li><i class="bi bi-check-circle"></i> Balística</li>
        <li><i class="bi bi-check-circle"></i> Accidentología</li>        
        <li><i class="bi bi-check-circle"></i> Psicología forense</li>
        <li><i class="bi bi-check-circle"></i> Papiloscopia</li>
        <li><i class="bi bi-check-circle"></i> Fotografía forense</li>
        <li><i class="bi bi-check-circle"></i> Medicina legal</li>
        <li><i class="bi bi-check-circle"></i> Derecho penal</li>
      </ul>
    </div>
  </div>
</div>
