<!-- desarrollador-web.component.html -->
<div class="desarrollador-web-section" data-aos="zoom-in">
  <a href="#education"><button class="back-button"><i class="bi bi-arrow-left-square"></i></button></a>
  <div class="desarrollador-web-content">
    <h1>Desarrollador Web Full Stack</h1>
    <h2>Argentina Programa</h2>
    <p>
      Como Desarrollador Web Full Stack, he adquirido habilidades en el desarrollo tanto del lado del cliente como del
      servidor. Mi formación me permite crear aplicaciones web completas, gestionar bases de datos y asegurar la
      seguridad de las aplicaciones.
    </p>
    <div class="skills-section">
      <div class="skills-column">
        <h3>Frontend</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/html.png" alt="HTML"><span>HTML</span> </li>
          <li><img src="../../../assets/icons/skills/css.png" alt="CSS"> <span>CSS</span></li>
          <li><img src="../../../assets/icons/skills/typescript.png" alt="TypeScript"> <span>TypeScript</span></li>
          <li><img src="../../../assets/icons/skills/angular.png" alt="Angular"><span>Angular</span> </li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>Backend</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/node-js.png" alt="Node.js"> <span>Node.js</span></li>
          <li><img src="../../../assets/icons/skills/java.png" alt="Java"> <span>Java</span></li>
          <li><img src="../../../assets/icons/skills/spring.png" alt="Spring Boot"> <span>Spring Boot</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>DB</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/mysql.png" alt="MySQL"> <span>MySQL</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>Tools</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/git.png" alt="Git"> <span>Git</span></li>
          <li><img src="../../../assets/icons/skills/github.png" alt="GitHub"> <span>GitHub</span></li>
          <li><img src="../../../assets/icons/skills/bootstrap.png" alt="Bootstrap"> <span>Bootstrap</span></li>
          <li><img src="../../../assets/icons/skills/postman.png" alt="Postman"> <span>Postman</span></li>
        </ul>
      </div>
      <div class="skills-column">
        <h3>PaaS</h3>
        <ul class="skills-list">
          <li><img src="../../../assets/icons/skills/firebase.png" alt="Firebase"> <span>Firebase</span></li>
          <li><img src="../../../assets/icons/skills/heroku.png" alt="Heroku"> <span>Heroku</span></li>                   
        </ul>
      </div>
    </div>
  </div>
</div>