/* desarrollador-web.component.css */

.desarrollador-web-section {
  padding: 20px;
  background-color: #00000073;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  color: #fff;
}

.desarrollador-web-content {
  margin-top: 30px;
}

.desarrollador-web-content h1 {
  color: rgb(43, 142, 223);
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
}

.desarrollador-web-content h2 {
  color: #5c91b4;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.desarrollador-web-content p {
  color: #f1eded;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.skills-section {
  display: flex;
  flex-direction: column; /* Por defecto, en columna para pantallas pequeñas */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-column {
  flex: 1;
  margin: 10px 0; /* Margin ajustado para elementos en columna */
}

.skills-section h3 {
  color: #f1eeee;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; /* Asegura que h3 ocupe el 100% del ancho */
}

.skills-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 100%; /* Asegura que la lista ocupe el 100% del ancho */
}

.skills-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #fff;
}

.skills-list li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.skills-list li span {
  flex-grow: 1;
  text-align: left;
}

@media (min-width: 768px) {
  .skills-section {
    flex-direction: row; /* Cambia a fila para pantallas más grandes */
    justify-content: space-around;
    align-items: flex-start; /* Alinea elementos en la parte superior */
  }

  .skills-column {
    margin: 0 10px;
    text-align: center;
  }
  
  .skills-section h3 {
    text-align: center;
    margin-bottom: 10px;
  }
}
