<section id="aboutme">
  <div data-aos="zoom-in-up">
    <section class="about">
      <div class="main">
        <img id="foto" src="../../../assets/Foto.png" alt="foto de perfil" />
        <div class="about-text">
          <div class="container">
          <h1 id="nombre">Joaquín Viñolo</h1>
          <h5>Desarrollador web full stack</h5>
          <p>
            Hola! Gracias por tomarte el tiempo de leerme. Soy Joaquín, un
            Desarrollador que se encuentra en constante aprendizaje.  Actualmente estoy
            estudiando programación en UTN. 
            Si quieres contactarme ve a la sección de contactos, allí encontrarás más información
            acerca de mí y diferentes medios para iniciar una conversación.
            Te invito a que conozcas mis habilidades en este portfolio!
          </p>
          <button   (click)="contact()">Contacto</button>
          <a
            href="../../../assets/Documentos/Joaquín Viñolo CV programador.pdf"
            download="CV JV"
            ><button id="button-cv"><i class="bi bi-file-earmark-arrow-down"></i>CV</button></a
          >
          </div>
        </div>
      </div>
    </section>
  </div>
<section>
