<div class="row">
<section class="about">
    <div class="main">
    <img src="../../../assets/Foto.png" alt="foto de perfil">
    <div class="about-text">
        <h1>Joaquín Viñolo</h1>
        <h5>Desarrollador web full stack</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ut ad voluptatem porro deleniti, voluptatum dolorum possimus cupiditate nostrum laudantium tempore dolorem aspernatur asperiores, dolor illo deserunt doloribus qui. Doloremque!</p>
        <button>Read more</button>
    </div>
    </div>
</section>
</div>