<section id="aboutme" >
  <div class="row">
    <section class="about">
      <div class="main">
        <img id="foto" src="../../../assets/Foto.png" alt="foto de perfil" />
        <div class="about-text">
          <h1 id="nombre">Joaquín Viñolo</h1>
          <h5>Desarrollador web full stack</h5>
          <p>
            Hola! Gracias por tomarte el tiempo de leerme. Soy Joaquín, un
            Desarrollador que se encuentra en constante aprendizaje en este
            mundo sin límites que es la programación. Actualmente estoy
            especializándome como Desarrollador Frontend.
            Te invito a que conozcas mis habilidades en este portfolio!
          </p>
          <button (click)="contact()">Contacto</button>
          <a
            href="../../../assets/Documentos/Joaquín Viñolo CV programador.pdf"
            download="CV JV"
            ><button class="boton2">CV</button></a
          >
        </div>
      </div>
    </section>
  </div>
<section>
