.about {
    padding: 5% 0; /* Cambiado a porcentajes para que sea responsive */
    text-align: center; /* Centrar el texto en pantallas pequeñas */
  }
  
  .about img {
    height: auto;
    width: 80%; /* Ajustado para ser responsive */
    max-width: 250px;
    min-width: 50px;
    margin: 0 auto 30px; /* Centrar la imagen y añadir espacio en la parte inferior */
  }
  
  .about-text {
    width: 100%; /* Ajustado para ser responsive */
  }
  
  .main {
    width: 100%; /* Ajustado para ser responsive */
    max-width: 1130px; /* Ajusta según sea necesario */
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Cambiado a columna en pantallas pequeñas */
    align-items: center;
    justify-content: center;
  }
  
  .about-text h1 {
    font-size: 40px; /* Ajustado para ser responsive */
    margin-bottom: 10px;
    color:aliceblue;
  }
  
  .about-text h5 {
    font-size: 20px; /* Ajustado para ser responsive */
    margin-bottom: 15px;
    color:aliceblue;
  }
  
  .about-text p {
    font-size: 16px; /* Ajustado para ser responsive */
    margin-bottom: 25px;
    color:aliceblue;
  }
  
  #button-cv {
    margin-left: 10px;
    margin-top: 10px; /* Espaciado superior para separar el botón del enlace de descarga */
  }
  i{
    margin-right: 3px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .about img {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .main {
      max-width: 100%; /* Ajustado para ser responsive */
    }
  }