<div id="education" class="row">

  <section class="educationLine">
    <h2>Educación</h2>
    <div class="wrapper">
      <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>
      <div class="row row-1">
        <section>

          <div class="details">
            <span class="title">Escuela N°4-124 Reynaldo Merin</span>
            <span>2012-2017</span>
          </div>
          <p>
            Técnico electricista especializado en automatización y mantenimiento
            industrial
          </p>
          <div class="bottom">
            <a href="https://dti.mendoza.edu.ar/gem/ingreso/publico/escuela/1112/2" target="_blank">Saber más</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>

          <div class="details">
            <span class="title">Universidad Empresarial Siglo 21</span>
            <span>2019-2021</span>
          </div>
          <p>Técnico en investigación de la escena del crimen</p>
          <div class="bottom">
            <a href="https://inscribite.21.edu.ar/tecnicatura-en-investigaci%C3%B3n-de-la-escena-del-crimen?sbo=2&cmp=1&sbo=2&cmp=1&utm_term=tecnicatura%20en%20investigaci%C3%B3n%20de%20la%20escena%20del%20crimen&utm_campaign=Siglo21_CARRERAS_Tucum%C3%A1n_NonBrand&utm_source=adwords&utm_medium=ppc&hsa_acc=9922330558&hsa_cam=19169752680&hsa_grp=144265755836&hsa_ad=640040959802&hsa_src=g&hsa_tgt=aud-678483556471:kwd-350005409940&hsa_kw=tecnicatura%20en%20investigaci%C3%B3n%20de%20la%20escena%20del%20crimen&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAt66eBhCnARIsAKf3ZNFMVSYtofE0VIzu9FmzBYavKiwHhs6QyYi2hjWJJud2DThic6UgT-8aAqPKEALw_wcB"
              target="_blank">Saber más</a>
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>

          <div class="details">
            <span class="title">Argentina Programa</span>
            <span>2021-2022</span>
          </div>
          <p>Desarrollador web full stack jr</p>
          <div class="bottom">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">Saber
              más</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>

          <div class="details">
            <span class="title">Ticmas Academy</span>
            <span>2022-2023</span>
          </div>
          <p>Desarrollador front end</p>
          <div class="bottom">
            <a href="https://usuarios.profesional.ticmas.io/realms/ticmas/protocol/openid-connect/auth?client_id=front-academy&scope=openid%20email%20profile&response_type=code&redirect_uri=https%3A%2F%2Facademy.profesional.ticmas.io%2Fapi%2Fauth%2Fcallback%2Fkeycloak&state=sfpoxKbGs9y-O_xso2j61aZJjuYpKe5dWijsV84jY1E&code_challenge=IleeBGTN2tISwtVtjb_oENVT4yJidbLkpuI7I4TisAY&code_challenge_method=S256" target="_blank">Saber más</a>
          </div>

        </section>
      </div>
      <div class="row row-1">
        <section>

          <div class="details">
            <span class="title">Alura Latam</span>
            <span>2022-2023</span>
          </div>
          <p>Frontend Developer</p>
          <div class="bottom">
            <a href="https://www.aluracursos.com/cursos-online-front-end" target="_blank">Saber más</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>

          <div class="details">
            <span class="title">UTN</span>
            <span>2023-Actualidad</span>
          </div>
          <p>Tecnicatura Universitaria en Programación</p>
          <div class="bottom">
            <a href="https://www.frsr.utn.edu.ar/programacion/">Saber más</a>
          </div>

        </section>
      </div>
    </div>
  </section>
</div>