
<div class="row">
    <body>
<div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">Escuela N°4-124 Reynaldo Merin</span>
          <span>2012-2017</span>
        </div>
        <p>Técnico electricista especializado en automatización y mantenimiento industrial</p>
        <div class="bottom">
          <a href="#">Read more</a>
          
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Universidad Empresarial Siglo 21</span>
          <span>2019-2021</span>
        </div>
        <p>Técnico en investigación de la escena del crimen</p>
        <div class="bottom">
          <a href="#">Read more</a>
          
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">Argentina Programa</span>
          <span>2021-2022</span>
        </div>
        <p>Desarrollador web full stack jr</p>
        <div class="bottom">
          <a href="#">Read more</a>
          
        </div>
      </section>
    </div>
    <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <span class="title">Academy</span>
            <span>2022-Actualidad</span>
          </div>
          <p>Desarrollador front end</p>
          <div class="bottom">
            <a href="#">Read more</a>
            
          </div>
        </section>
      </div>
    
  </div>
</body>
</div>
