/* projects.component.css */

/* Sección proyectos */
.projects-section {
  text-align: center;
  padding: 40px 20px;
}

.projects-section h1 {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 28px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-box {
  background-color: #1a1818; /* Fondo para las cajas */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 350px; /* Aumentado el tamaño de las cajas */
  flex: 1 1 350px; /* Aumentado el tamaño de las cajas */
  margin: 10px;
  transition: transform 0.3s;
  position: relative;
}

.project-box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

.project-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(110, 110, 238, 0.7); /* Capa azul */
  transform: translateY(100%);
  transition: transform 0.3s;
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-box:hover {
  transform: scale(1.05);
}

.project-box:hover .project-info {
  transform: translateY(0);
}

.project-info h2 {
  color: #faf7f7;
  margin-bottom: 10px;
  font-size: 24px; /* Aumentado el tamaño del título */
}

.project-info p {
  color: #fff8f8;
  font-size: 16px;
  margin-bottom: 20px;
  flex-grow: 1; /* Asegura que la descripción se ajuste al tamaño de la caja */
}

.icon-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-links a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-links a:hover {
  color: #007bff;
}

.hidden {
  display: none;
}
