.row {
  padding: 20px;
}

.wrapper {
  background: #ffffff;
  border-radius: 14px;
  padding: 25px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 300px;
  width: 80%;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  object-fit: cover;
  cursor: pointer;

}

.wrapper:hover {
  transform: scale(1.2)
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.col-sm-2 {
  display: flex;
  justify-content: center;
}