
<section>

  <div class="row justify-content-center" id="skills" data-aos="zoom-in-up">
    <h2>Skills</h2>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="55" [radius]="70" [imageSrc]="'../assets/html.png'" [imageHeight]="50"
          [imageWidth]="50" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="45" [radius]="70" [imageSrc]="'../assets/js.png'" [imageHeight]="50" [imageWidth]="50"
          [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="50" [radius]="70" [imageSrc]="'../assets/CSS.png'" [imageHeight]="50"
          [imageWidth]="50" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="40" [radius]="70" [imageSrc]="'../assets/Angular.png'" [imageHeight]="80"
          [imageWidth]="140" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="60" [radius]="70" [imageSrc]="'../assets/git.png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="30" [radius]="70" [imageSrc]="'../assets/eng.png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="30" [radius]="70" [imageSrc]="'../assets/sql.png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="60" [radius]="70" [imageSrc]="'../assets/ts.png'" [imageHeight]="80" [imageWidth]="80"
          [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="40" [radius]="70" [imageSrc]="'../assets/spring.png'" [imageHeight]="70"
          [imageWidth]="120" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="40" [radius]="70" [imageSrc]="'../assets/java.png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
     <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="25" [radius]="70" [imageSrc]="'../assets/PY.png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" data-aos="zoom-in-right">
      <div class="wrapper">
        <circle-progress [percent]="70" [radius]="70" [imageSrc]="'../assets/GIT (2).png'" [imageHeight]="80"
          [imageWidth]="80" [showImage]="true" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#F8CA7E'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800"
          [responsive]="true">
        </circle-progress>
      </div>
    </div>
  </div>

</section>