<div class="row" id="skills">

      
  
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="wrapper" >
        <circle-progress [percent]="90" [radius]="70" [imageSrc]="'../assets/html.png'" [imageHeight]="50" [imageWidth]="50"
        [showImage]="true" [showUnits]="false"  [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800">
        </circle-progress>
        </div>
       
     
   
      
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="wrapper" >
          <circle-progress [percent]="90" [radius]="70" [imageSrc]="'../assets/js.png'" [imageHeight]="50" [imageWidth]="50"
          [showImage]="true" [showUnits]="false"  [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800">
          </circle-progress>
          </div>
         
       </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="wrapper" >
          <circle-progress [percent]="90" [radius]="70" [imageSrc]="'../assets/html.png'" [imageHeight]="50" [imageWidth]="50"
          [showImage]="true" [showUnits]="false"  [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#B2ADAD'" [animation]="true" [animationDuration]="800">
          </circle-progress>
          </div>
         
       
     
        
      </div>
  
      
    
  
  
  
  
  </div>