<section id="education">
    <div class="container">
        <h2 class="section-title">Educación it</h2>
        <div class="timeline">
            <div class="timeline-item left" data-aos="zoom-in" id="education-utn">
                <div class="timeline-content">
                    <i class="bi bi-mortarboard-fill timeline-icon"></i>
                    <h3 class="timeline-place">Universidad Tecnológica Nacional</h3>
                    <p class="timeline-degree">Técnico Universitario en Programación</p>
                    <small class="timeline-date">2023-2024</small>
                    <a (click)="educationUtn()" class="btn btn-primary timeline-button">Saber Más</a>
                </div>
            </div>
            <div class="timeline-item right" data-aos="zoom-in" id="education-alura">
                <div class="timeline-content">
                    <i class="bi bi-mortarboard-fill timeline-icon"></i>
                    <h3 class="timeline-place">Alura</h3>
                    <p class="timeline-degree">Desarrollador Frontend</p>
                    <small class="timeline-date">2023</small>
                    <a (click)="educationAlura()" class="btn btn-primary timeline-button">Saber Más</a>
                </div>
            </div>
            <div class="timeline-item left" data-aos="zoom-in" id="education-detail">
                <div class="timeline-content">
                    <i class="bi bi-mortarboard-fill timeline-icon"></i>
                    <h3 class="timeline-place">Argentina Programa</h3>
                    <p class="timeline-degree">Desarrollador Web Full Stack</p>
                    <small class="timeline-date">2021-2022</small>
                    <a (click)="educationDetail()" class="btn btn-primary timeline-button">Saber Más</a>
                </div>
            </div>


        </div>
    </div>
</section>