#education {
    padding: 50px 0;
}

.section-title {
    color:rgb(43, 142, 223);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 700;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #f1f1f1;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding: 20px 40px;
    width: 50%;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #f1eded;
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.timeline-content {
    background: rgba(8, 8, 8, 0.404);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    color:#eceff1;
    
}

.timeline-icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    margin-left: auto;
}

.timeline-place {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
}

.timeline-degree {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 500;
}

.timeline-date {
    font-size: 0.8em;
    color: #6c757d;
    margin-bottom: 10px;
    display: block;
}

.timeline-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 1em;
    background: rgb(35, 113, 231);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .4s;
}
  
  

.timeline-button:hover {
    background: transparent;
    border: 2px solid rgb(134, 144, 240);
    cursor: pointer
}



/* Responsivo */
@media (max-width: 768px) {
    .timeline:before {
        left: 10px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .timeline-item.left, .timeline-item.right {
        left: 0;
    }

    .timeline-item:before {
        left: 10px;
    }

    .timeline-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-icon {
        margin-left: 0;
    }
    
}