.services-section {
  text-align: center;
  margin: 40px 0;  
}

.section-title {
  color:rgb(43, 142, 223);
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: 700;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas en la pantalla */
  gap: 20px;
  padding: 0 20px; /* Reduce el padding para acercar más las cartas */
}

.service-card {
  width: 250px;
  background-color: #0000002f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color:rgb(0, 211, 248);
  font-weight: 600;
}

.service-description {
  font-size: 1rem;
  color: #cec6c6;
  font-weight: 660;
}

@media (max-width: 480px) {
  .section-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .service-card {
    width: 100%;
    max-width: 300px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra las cartas en pantallas pequeñas */
    padding: 10px;
  }

  .service-title {
    font-size: 1rem;
  }

  .service-description {
    font-size: 0.8rem;
  }
}
