#skills {
    padding: 50px 0;    
  }
  
  .section-title {
    color:rgb(43, 142, 223);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 700;
  }
  
  .skills-section {
    margin-bottom: 30px;
  }
  
  .section-name {
    color:rgb(0, 211, 248);
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .skill-card {
    background: rgba(0, 0, 0, 0.226);
    padding: 15px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
  }
  
  .skill-image {
    width: 50px;
    height: 50px;
  }
  
  .skill-name {
    color: white;
    margin-top: 10px;
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    .skill-card {
      width: calc(33.333% - 20px); /* Mantener 3 tarjetas por fila en pantallas medianas */
    }
    .skill-name {
      display: none; /* Ocultar los títulos de las tarjetas en pantallas medianas y pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .skill-card {
      width: calc(33.333% - 20px); /* Mantener 3 tarjetas por fila en pantallas pequeñas */
    }
    .skill-name {
      display: none; /* Ocultar los títulos de las tarjetas en pantallas pequeñas */
    }
  }