nav{
    padding:10px;
    
}
.logo-brand {
    min-width:30px;
    max-width:50px;
}


#Banner {
    position: relative;
    height: 80vh;
    min-height: 450px;
    max-height: 1080px;
    background: url('../../../assets/Banner/Bienvenidos.png');
    background-size: cover;
    padding: 15px;
    padding-top: 90px;
    overflow: hidden;
    font-family: 'Maven Pro', sans-serif;

}

li {
    font-family: 'Rubik', sans-serif;
}

.bi {
    font-size: 28px;
   

}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(126, 141, 147, 0.8);
    z-index: 1
}

#lead-content h1 {
    max-width: 800px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: #fff;
    font-weight: 850;
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-content h3 {
    color: #fdfdfd;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;;
    margin-bottom: 15px
}


#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff
}



#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
    color: #fff;
}



#lead-content h1,
#lead-content h3,
#lead-content button {
    animation: fadeIn 1s ease-in-out; /* Aplicar la animación fadeIn */
}
#start-button {
    
    display: block; margin: 0 auto;
    padding: 5px 10px;
  }



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Media query para ajustar los estilos en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #lead-content h1 {
        font-size: 3em; /* Ajustar tamaño del título en pantallas más pequeñas */
    }

    #lead-content h3 {
        font-size: 1.2em; /* Ajustar tamaño de la segunda frase en pantallas más pequeñas */
    }
}

 h3 {
    font-weight: bold; /* Aplica negrita */
    /* O */
    font-style: italic; /* Aplica cursiva */
  }


  h1, h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
  }

